{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Series {% endblock %}

{% block body %}
    <h2>Series</h2>

    <section class="series-list">
        {% for serie in series %}
            <a href="#">
                <img src="{{ asset('uploads/posters/series/' ~ serie.poster) }}" width="300px" loading="lazy" alt="{{ serie.name }}"/>
            </a>
        {% else %}
            <p>Pas de Série !</p>
        {% endfor %}
    </section>
{% endblock %}