<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Seriiiiiies{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/icon.png') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <h1><img src="{{ asset('images/logo.png') }}"></h1>
    <nav>
        <ul>
            <li style="padding: 5px;"><a href="{{ path('serie_list') }}">Catalogue</a></li>
        </ul>
    </nav>
        {% block body %}{% endblock %}
    </body>
</html>
